body {
    font-family: 'Roboto', sans-serif;
    color: black;
}


h3 {
    font-family: 'Playfair Display', serif;
    
}

/* Header */

.header, .header-about, .header-gallery, .header-blog, .header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }

.logo-pic {
    width: 150px;
    height: 110px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    padding: 0 19px;
    color: white;
    background-color: black;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0 20px 0;
}

/* Home Page */

.homemain-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homemain-text > h3, .homemain-text > p {
    background-color: black;
    color: white;
    text-align: center;
    width: 75%;
}

.home-a {
    background-image: url(https://picsum.photos/id/43/2000/800);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-b {
    color: black;
    text-align: center;
}

/* About Page */

.about-page {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 12% 4% 1fr 1fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-about"
    "about-title"
    "about-img"
    "about-text"
    "footer"; 
}
.header-about { grid-area: header-about; }
.about-title { grid-area: about-title; }
.about-img { grid-area: about-img; }
.about-text {grid-area: about-text}
.footer { grid-area: footer; }

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-title > h2 {
  color: white;
  background-color: rgb(39, 36, 36);
  padding: 0 100px;
}

.responsive {
  max-width: 100%;
  height: 100%;
}

.abouttext-a, .abouttext-b, .abouttext-c, .abouttext-d, .abouttext-e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Gallery Page */

.gallery-page {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 18% 4% 1fr 1fr 1fr 1fr 1fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-gallery header-gallery"
    "gallery-title gallery-title"
    "gallery-a gallery-b"
    "gallery-c gallery-d"
    "gallery-e gallery-f"
    "gallery-g gallery-h"
    "gallery-i ."
    "footer footer"; 
}
.header-gallery { grid-area: header-gallery; }
.gallery-title { grid-area: gallery-title; }
.gallery-a { grid-area: gallery-a; }
.gallery-b { grid-area: gallery-b; }
.gallery-c { grid-area: gallery-c; }
.gallery-d { grid-area: gallery-d; }
.gallery-e { grid-area: gallery-e; }
.gallery-f { grid-area: gallery-f; }
.gallery-g { grid-area: gallery-g; }
.gallery-h { grid-area: gallery-h; }
.gallery-i { grid-area: gallery-i; }
.footer { grid-area: footer; }

.gallery-title {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.gallery-title > h2 {
  color: white;
  background-color: rgb(39, 36, 36);
  padding: 0 100px;
}

.gallery-img {
  /* width: 100%; */
  max-height: 100%;
  box-sizing: border-box;
  border: black solid;
  margin: 20px;
}

/* Blog Page */

.blog-page {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 18% 4% 1fr 1fr 1fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-blog"
    "blog-title"
    "blog-a"
    "blog-b"
    "blog-c"
    "footer"; 
}
.header-blog { grid-area: header-blog; }
.blog-title { grid-area: blog-title; }
.blog-a { grid-area: blog-a; }
.blog-b { grid-area: blog-b; }
.blog-c { grid-area: blog-c; }
.footer { grid-area: footer; }

.blog-a, .blog-b, .blog-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid black;
  margin: 30px 15px;
}

.blog-one, .blog-two, .blog-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.blog-img {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  
}

.blog-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-title > h2 {
  color: white;
  background-color: rgb(39, 36, 36);
  padding: 0 100px;
}

/* Contact Page */

.contact-page {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 18% 4% 1fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-contact header-contact header-contact"
    ". contact-title ."
    ". contact-form ."
    "footer footer footer"; 
}
.header-contact { grid-area: header-contact; }
.footer { grid-area: footer; }
.contact-title { grid-area: contact-title; }
.contact-form { grid-area: contact-form; }



.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.contact-title > h2{
  color: white;
  background-color: rgb(39, 36, 36);
  padding: 0 100px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 800px;
  
}

input {
  text-align: center;
  width: 80%;
  height: 8%;
  box-sizing: border-box;
  border: solid black;
}

textarea {
  text-align: center;
  width: 80%;
  height: 25%;
  box-sizing: border-box;
  border: solid black;
  font-size: 20px;
}

button {
  background-color: grey;
  color: white;
  border: solid black;
  width: 120px;
  height: 50px;
}


  

/* Footer */

footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
  color: white;
}

.fa {
    padding: 8px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-snapchat {
    background: yellow;
    color: white;
  }

  .fa-google {
    background: rgb(255, 102, 0);
    color: white;
  }

  .fa-linkedin {
    background: rgb(0, 102, 255);
    color: white;
  }

  @media (min-width: 768px) {

    /* Home Page */

    .home-page {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 18% 1.2fr .8fr 13%; 
        gap: 0px 0px; 
        grid-template-areas: 
          "header header"
          "home-a home-a"
          "home-b home-b"
          "footer footer"; 
      }
      .header { grid-area: header; }
      .footer { grid-area: footer; }
      .home-a { grid-area: home-a; }
      .home-b { grid-area: home-b; }

      .header {
        height: 250px;
        margin: 0 0 250px 0;
      }

      
      .home-b {
        display: flex;
        justify-content: space-around;
      }

      .homemain-text > h3, .homemain-text > p {
        width: 70%;
        height: 120%;
      }

      .nav-links {
        display: inline-block;
        
      }

/* About Page */

.about-page {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 7% 4% 0.8fr 1.2fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header"
    ". about-title ."
    ". about-img ."
    ". about-text ."
    "footer footer footer"; 
}

.header-about { grid-area: header; }
.footer { grid-area: footer; }
.about-title { grid-area: about-title; }
.about-img { grid-area: about-img; }
.about-text { grid-area: about-text; }

.header-about {
  height: 250px;
}

/* Gallery Page */

.gallery-page {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 7% 4% 1fr 1fr 1fr 1fr 1fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-gallery header-gallery"
    "gallery-title gallery-title"
    "gallery-a gallery-b"
    "gallery-c gallery-d"
    "gallery-e gallery-f"
    "gallery-g gallery-h"
    "gallery-i ."
    "footer footer"; 
}
.header-gallery { grid-area: header-gallery; }
.gallery-title { grid-area: gallery-title; }
.gallery-a { grid-area: gallery-a; }
.gallery-b { grid-area: gallery-b; }
.gallery-c { grid-area: gallery-c; }
.gallery-d { grid-area: gallery-d; }
.gallery-e { grid-area: gallery-e; }
.gallery-f { grid-area: gallery-f; }
.gallery-g { grid-area: gallery-g; }
.gallery-h { grid-area: gallery-h; }
.gallery-i { grid-area: gallery-i; }
.footer { grid-area: footer; }

.gallery-a, .gallery-b, .gallery-c, .gallery-d, .gallery-e, .gallery-f, .gallery-g, .gallery-h, .gallery-i {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Blog Page */

.blog-page {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 5% 4% 1fr 1fr 1fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-blog"
    "blog-title"
    "blog-a"
    "blog-b"
    "blog-c"
    "footer"; 
}
.header-blog { grid-area: header-blog; }
.blog-title { grid-area: blog-title; }
.blog-a { grid-area: blog-a; }
.blog-b { grid-area: blog-b; }
.blog-c { grid-area: blog-c; }
.footer { grid-area: footer; }

.blog-title > h2 {
  font-size: 50px;
}

.blog-one > h3, .blog-two > h3, .blog-three > h3 {
  font-size: 40px;
}

.blog-one > p, .blog-two > p, .blog-three > p {
  padding: 70px;
  font-size: 25px;
}

}

 
 

@media (min-width: 992px) {

    /* Home Page */

.home-page {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 18% 1.6fr .4fr 13%; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      "home-a home-a home-a"
      ". home-b ."
      "footer footer footer"; 
    
  }
  .header { grid-area: header; }
  .footer { grid-area: footer; }
  .home-a { grid-area: home-a; }
  .home-b { grid-area: home-b; }


  .home-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    
  }

  .home-b {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .homemain-text > h3, .homemain-text > p {
    width: 120%;
    height: 85%;
  }

  /* About Page */
  
  .about-page {
    display: grid; 
    grid-template-columns: 33.3% 1fr 33.3%; 
    grid-template-rows: 12% 4% 0.8fr 1.2fr 13%; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      ". about-title ."
      ". about-img ."
      ". about-text ."
      "footer footer footer"; 
  }

  .header-about { grid-area: header; }
  .footer { grid-area: footer; }
  .about-title { grid-area: about-title; }
  .about-img { grid-area: about-img; }
  .about-text { grid-area: about-text; }

  .header-about {
    height: 250px;
    width: 100%;
  }

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.abouttext-a, .abouttext-b, .abouttext-c, .abouttext-d, .abouttext-e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Gallery Page */

.gallery-page {
  display: grid; 
  grid-template-columns: 33% 1fr 1fr 1fr 33%; 
  grid-template-rows: 18% 4% 1fr 1fr 1fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-gallery header-gallery header-gallery header-gallery header-gallery"
    ". . gallery-title . ."
    ". gallery-a gallery-b gallery-c ."
    ". gallery-d gallery-e gallery-f ."
    ". gallery-g gallery-h gallery-i ."
    "footer footer footer footer footer"; 
    width: 100%;
}
.header-gallery { grid-area: header-gallery; }
.gallery-title { grid-area: gallery-title; }
.gallery-a { grid-area: gallery-a; }
.gallery-b { grid-area: gallery-b; }
.gallery-c { grid-area: gallery-c; }
.gallery-d { grid-area: gallery-d; }
.gallery-e { grid-area: gallery-e; }
.gallery-f { grid-area: gallery-f; }
.gallery-g { grid-area: gallery-g; }
.gallery-h { grid-area: gallery-h; }
.gallery-i { grid-area: gallery-i; }
.footer { grid-area: footer; }

.header-gallery {
  height: 250px;
  width: 100%;
 
}
  
/* Blog Page */

.blog-page {
  display: grid; 
  grid-template-columns: .5fr 2fr .5fr; 
  grid-template-rows: 13% 4% 1fr 1fr 1fr 13%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-blog header-blog header-blog"
    ". blog-title ."
    ". blog-a ."
    ". blog-b ."
    ". blog-c ."
    "footer footer footer"; 
}
.header-blog { grid-area: header-blog; }
.blog-title { grid-area: blog-title; }
.blog-a { grid-area: blog-a; }
.blog-b { grid-area: blog-b; }
.blog-c { grid-area: blog-c; }
.footer { grid-area: footer; }

.header-blog {
  height: 250px;
  width: 100%;
}



.blog-title > h2 {
  font-size: 1.5em;
  margin: 0 0 50px 0;
}

.blog-a, .blog-b, .blog-c {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: solid black;
}

.blog-img {
 
  border-right: solid black;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
    
}

.blog-one, .blog-two, .blog-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 15px 20px;
  
  
}

.blog-one > p, .blog-two > p, .blog-three > p {
  padding: 0;
}

/* Contact Page */

.header-contact {
  height: 250px;
  width: 100%;
}

.contact-title {
  margin: auto;
}

}